#page-header {
  display: flex;
  justify-content: center;
  background: #035b74;
  opacity: .8;
  height: 4rem;
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

#page-header img {
  height: auto;
  width: auto;
  object-fit: contain
}

body {
  color: #333;
  margin: 0;
  /*margin-top: 8rem;*/
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 18px;
  /* background-image: url("https://i.pinimg.com/originals/2e/f2/54/2ef25428d39b940685fe41dd73173f6a.jpg"); */
  /* background-size: cover; */
  background-color: #e7e7e7;
  top: 5rem;
  overflow: hidden;
}

/* p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
} */

/* .videos-container {
  margin: auto;
  width: 100%;
} */

.videos-container{
  height: 89vh;
  overflow-y: scroll;
}

.vid-card {
  margin: auto;
  width: 100%;
}

.vid-frame {
  height: 27rem;
  width: 45rem;
}

.tab-spacer{
  margin-top: 15px;
}

.scroll{
  height: 90vh;
  overflow-y: scroll;
}

.vid-center{
  text-align: center;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.vid-preview-card{
  width: 95%;
    padding: 12px;
    overflow: hidden;
  background-color: #ffffff;
  margin: 18px;
  border: .25px solid lightgrey;

}

.vid-preview-card:hover {
  background-color: #93928e;
  color: #ffffff;
}


.vid-preview-card img {
  margin-right: 15px;
   float: left;
}

.vid-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.vid-preview-card p{
  display: inline-block;
  font-size: 15px;
  width: 50%;
}


/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 115%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-container {
  display: flex;
  flex-direction: column;
  body: black;
  border-radius: 10px;
  background-color: #232323;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  width: 75%;
  height: 80%;
}

.video-header-div {
  margin-top: 6px;
  margin-bottom: 16px;
  padding-bottom: 4%;
  font-size: 20px;
  /* color: #323232; */
  border-bottom: .25px solid #4e4e4e;
  color: #eeeeee;
  height: 5%;
}

.video-header {
  margin-top: 6px;
}

/* The Close Button */
.close {
  color: #fff;
  float: left;
  margin-bottom: 1%;
  font-size: 28px;
  font-weight: bold;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.vid-notes-div {
  margin-top: 15px;
  /* border-bottom: 2px solid lightgrey; */
  width: 50%;
}




#addVideoTab {
  margin-right: 8px
}


.welcome-font {
  font-style: oblique;
  font-size: 20px;
  color: white;
}

.vid-del-btn{
  width: 20%;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: #af4c4c;
  float: right;
  vertical-align: top;
  color: white;
}

.vid-add-btn{
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: #027de7;
  float: right;
  vertical-align: top;
  color: white;
}

.vid-remove-btn{
  width: 15%;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: #af4c4c;
  float: right;
  vertical-align: top;
  color: white;
}

.btn-primary{
  background-color: #484b4c;
  border-color: #484b4c;
}

.welcome-div{
  /*float: right;*/
  font-size: 20px;
  color: lightgrey;
/*  margin-top: 8px;*/
}

.vid-notes-header {
  padding-bottom: 5px;
  font-size: 18px;
  /* font-weight: bold; */
  color: #eeeeee;
  margin-bottom: 6px;
}
.vid-notes-div{
  margin-top: 5px;
  width: 100%;
  height: 30%;
  overflow: hidden;
  margin-top: 10px;
  color: #ffffff
}

.notes-content{
  height: 100%;
  overflow: scroll;
}

.note-text{
  width: 50%;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-bottom: .25px solid #4e4e4e;
  font-size: 16px;
}

.modal-header{
  background-color: #3a424a;
  color: #cdcdcd;
}

#noteTime {
  background: #cdcdcd;
}

#noteContent {
  background: #cdcdcd;
}
